.page-title {
    /* margin-top: 60px; */
    font-size: 80px;
    margin-top: 80px;
    text-align: center;
}

/* .sub-header {
    font-size: 55px;
    margin-top: 60px;
    text-align: center;
} */